.container{
    display:grid;
    grid-template-columns:auto auto;
    grid-gap:10px;
    height:100px;
    width: 100%;
    border:1px solid black;
    
}
.box1{
    background-color:yellow;
    grid-column:1/2;
    
}
.box2{
    background-color:red;
}
.box3{
    background-color:green;
}